<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Netflix Home</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
    integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="next.css">
</head>

<body>
  <div id="loader">

    <style>
      body {
        margin: 0;
        background: black;

      }

      #loader {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;

        background: black;

        display: flex;
        justify-content: center;
        align-items: center;

        transition: opacity 0.5s ease;
        z-index: 9999;
      }

      #loader.hide {
        opacity: 0;
        pointer-events: none;
      }

      .loader {
        height: 100px;
        width: 100px;

        border: 8px solid #ddd;
        border-top: 8px solid red;
        border-right-color: red;

        border-radius: 50%;

        animation: rotate 1s linear infinite;

        position: absolute;
        top: 40vh;
      }

      .loader img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: contain;
      }

      @keyframes rotate {
        100% {
          transform: rotate(360deg);
        }
      }
      * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #141414;
  color: white;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), transparent);
}

.navbar a {
  display: flex;
  text-align: center;
  align-items: center;
}

#khoj {
  display: none;
}

.logo {
  color: #e50914;
  font-size: 35px;
  font-weight: bold;
}

nav {
  display: flex;
  gap: 25px;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 15px;
}

nav a:hover {
  color: #aaa;
}

.profile {
  width: 45px;
  height: 45px;
  background: #777;
  border-radius: 50%;
}

.profile img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: fill;
  object-position: center;
  border: 1px solid #ddd;
}


.hero {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.slides {
  width: 100%;
  height: 100%;
  position: relative;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 1s;
}

.slide.active {
  opacity: 1;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(to top,
      #141414, rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.7));
}

.content {
  position: absolute;
  bottom: 150px;
  left: 60px;
  z-index: 10;
  max-width: 600px;
}

.content h1 {
  font-size: 65px;
  margin-bottom: 20px;
}

.content p {
  font-size: 18px;
  margin-bottom: 25px;
  line-height: 1.5;
}

.content button {
  padding: 12px 30px;
  border: none;
  border-radius: 5px;
  background: white;
  color: black;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

.content button:hover {
  background: #ddd;
}

.row {
  padding: 20px 50px;
  margin-top: 20px;
}

.row h2 {
  margin-bottom: 15px;
}

.cards {
  display: flex;
  gap: 15px;
  overflow-x: auto;
  scrollbar-width: none;
}

.cards::-webkit-scrollbar {
  display: none;
}

.card {
  min-width: 200px;
  height: 300px;
  border-radius: 5px;
  overflow: hidden;
  transition: 0.3s;
  cursor: pointer;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card:hover {
  transform: scale(1.1);
  border-radius: 10%;
}


@media(max-width:768px) {
  .hero {
    width: 100%;
    height: 45vh;
    position: relative;
    overflow: hidden;
    margin-top: 60px;
  }

  .x {
    color: #ffffff;
  }

  #khoj {
    display: block;
  }

  .overlay {
    display: none;
  }

  .profile {
    width: 45px;
    height: 45px;
    background: #777;
    border-radius: 50%;
    display: none;
  }

  .slide img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: top;
  }

  .content a {
    position: absolut;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: baseline;
    bottom: 0px;
    left: 60px;
    z-index: 10;
    max-width: 600px;
  }

  .content a h1 {
    font-size: 30px;
    margin-bottom: 0px;
  }

  .content p {
    font-size: 18px;
    margin-bottom: 25px;
    line-height: 1.5;
  }

  .content button {
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    background: white;
    color: black;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
  }

  .row {
    padding: 5px 10px;
    margin-top: 10px;
  }

  .slide {
    position: absolute;
    width: 100%;
    height: 125%;
    opacity: 0;
    transition: 1s;
  }



  .navbar {
    padding: 15px 20px;
  }

  nav div {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }

  .search-icon {
    position: fixed;
    top: 22px;
    right: 60px;
  }

  nav a {
    display: none !important;
  }

  body:has(#searchinput:focus) .st {
    padding-top: 100px;
  }

  .content {
    left: 20px;
    bottom: 120px;
  }

  .content h1 {
    font-size: 40px;
  }

  .content p {
    font-size: 15px;
  }

  .card {
    min-width: 150px;
    height: 220px;
  }
}

.x {
  text-decoration: none;
}

.x h1,
p {
  color: #ddd;
}

.search-container {
  position: relative;
}

.search-icon {
  font-size: 24px;
  color: #222;
  cursor: pointer;
  transition: 0.3s;
}

.search-icon:hover {
  color: #0071e3;
}

.search-input {
  position: absolute;
  top: 45px;
  left: 50%;

  transform: translateX(-50%) translateY(-20px);

  width: 320px;

  padding: 14px 18px;

  border: none;
  outline: none;

  border-radius: 16px;

  background: rgba(255, 255, 255, 0.9);

  backdrop-filter: blur(12px);

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);

  font-size: 16px;

  opacity: 0;
  visibility: hidden;

  transition:
    opacity 0.35s ease,
    transform 0.35s ease,
    visibility 0.35s;
}

.search-input::placeholder {
  color: #888;
}


.search-container:hover .search-input {
  opacity: 1;
  visibility: visible;

  transform: translateX(-50%) translateY(0);
}

We use cookies.search-container {
  position: relative;
}


.search-icon {
  font-size: 20px;
  color: #ffffff;
  cursor: pointer;
  transition: 0.2s;
}

.search-icon:hover {
  color: #595d62;
}

#searchinput {
  position: absolute;
  top: 45px;
  left: 50%;

  transform: translateX(-50%) translateY(-20px);

  width: 320px;

  padding: 14px 18px;

  border: none;
  outline: none;

  border-radius: 16px;

  background: rgba(255, 255, 255, 0.218);

  backdrop-filter: blur(12px);

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);

  font-size: 16px;

  opacity: 0;
  visibility: hidden;

  transition:
    opacity 0.35s ease,
    transform 0.35s ease,
    visibility 0.35s;
}

#searchinput::placeholder {
  color: #fffdfd;
}

.search-container:hover #searchinput {
  opacity: 1;
  visibility: visible;

  transform: translateX(-50%) translateY(0);
}

body:has(#searchinput:focus) .row h2 {
  display: none;
}

.cards button {
  border: none;
  border-radius: 8px;
}

.sidebar {
  position: fixed;
  right: -240px;
  top: 0;
  width: 240px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.749);
  transition: all 0.5s ease;
  padding-top: 50px;
}

.sidebar a {
  display: block;
  line-height: 50px;
  text-decoration: none;
  color: #ffffff;
  padding-left: 10px;
  font-size: 24px;
  border-bottom: 2px solid rgb(79, 79, 79, 0.648);
  border-top: 2px solid black;

}

.sidebar a:hover {
  border-right: 5px solid red;
  color: #e50914;
}

#check {
  display: none;
}

#btn,
#cancel {
  position: absolute;
  right: 1px;
  top: 8px;
  cursor: pointer;
  height: 30px;
  width: 30px;
  text-align: center;
  color: #ffffff;
  font-size: 30px;
  margin-right: 15px;
  caret-color: transparent;
  outline: none;
  transition: all 0.5s ease;
}

#cancel {
  opacity: 0;
  visibility: hidden;
}

#check:checked~label #btn {
  margin-right: 190px;
  opacity: 0;
  visibility: hidden;
}

#check:checked~label #cancel {
  margin-right: 190px;
  opacity: 1;
  visibility: visible;
  position: absolute;
  z-index: 99;
}

#check:checked~.sidebar {
  right: 0;
}

.dp {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 3px solid rgb(175, 175, 175);
  margin: auto;
  margin-top: 100px;
  position: absolute;
  z-index: 9;
  right: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dp img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.sidebar a #dp {
  border-bottom: none;
  border-top: none;
}

.info {
  position: absolute;
  right: 87px;
  margin-top: 200px;
}
    </style>
    </head>

    <body>

      <div id="loader">

        <div class="loader">
          <img src="assets/netflix.jpg" alt="">
        </div>

      </div>
  </div>

  <header class="navbar">

    <a href="/" style="text-decoration: none;">
      <div class="logo">NETFLIX</div>
    </a>

    <nav>
      <div class="search-container">

        <i class="fa-solid fa-magnifying-glass search-icon"></i>

        <input type="text" id="searchinput" placeholder="Search here" onkeyup="searchContent()">
      </div>
      <a href="/">Home</a>
      <a href="#">TV Shows</a>
      <a href="#">Movies</a>
      <a href="#">New & Popular</a>
    </nav>

    <a href="pfp.html">
      <div><img class="profile" src="assets/pfp.jpg" alt=""></div>

    </a>
    <div id="khoj">
      <input type="checkbox" id="check">
      <label for="check"><span id="btn">☰</span></label>
      <label for="check"><span id="cancel">✖</span></label>
      <div class="sidebar">
        <a href="#"><span>Home</span></a>
        <a href="#"><span>Tv show</span></a>
        <a href="#"><span>Movies</span></a>
        <a href="#"><span>New & Popular</span></a>
        <a href="#"><span onclick="logout()"> ⇦ Logout</span></a>
        <a href="pfp.html" id="dp">
          <div class="dp">
            <img src="assets/pfp.jpg" alt="">
          </div>
          <div class="info">
            profile
          </div>
        </a>

      </div>
    </div>

  </header>


  <section class="hero">

    <div class="slides">

      <div class="slide active">
        <img src="assets/p1.jpg" class="rotate" />
        <div class="overlay"></div>

        <div class="content">



          <h1>Dark Horizon</h1>
          <p>
            A sci-fi thriller where AI controls humanity.

          </p>
          <button onclick="play('https://archive.org/embed/the-batman-2022-main-trailer-4k-prores?autoplay=1&mute=1')">
            ▶ Play
          </button>

        </div>
      </div>

      <div class="slide">
        <img src="assets/p2.jpg" />
        <div class="overlay"></div>

        <div class="content">

          <h1>Peaky Blinders</h1>
          <p>
            Enter the future of neon and machines.
          </p>
          <button onclick="play('https://www.youtube.com/embed/lcvUGs3xaDM?si=wpCn9EVjKoRmXhgL?autoplay=1&mute=1')">
            ▶ Play
          </button>


        </div>
      </div>

      <div class="slide">
        <img src="assets/p3.jpg" />
        <div class="overlay"></div>

        <div class="content">

          <h1>DEADPOOL</h1>
          <p>
            Mission impossible
          </p>
          <button onclick="play('https://archive.org/embed/youtube-3a8yXStofag?autoplay=1&mute=1')">
            ▶ Play
          </button>

        </div>
      </div>
      <div class="slide">
        <img src="assets/p4.jpg" />
        <div class="overlay"></div>

        <div class="content">

          <h1>CAPTAIN AMERICA</h1>
          <p>
            Stand for right, even alone.
          </p>
          <button
            onclick="play('https://archive.org/embed/bliptv-20131013-214804-Blacktreetv-CaptainAmericaTrailerHD513?autoplay=1&mute=1')">
            ▶ Play
          </button>

        </div>
      </div>
      <div class="slide">
        <img src="assets/p5.jpg" />
        <div class="overlay"></div>

        <div class="content">

          <h1 class="x">VENOM</h1>
          <p V>
            We are stronger together
          </p>

          <button onclick="play('https://archive.org/embed/youtube--LoYRAnFW4M?autoplay=1&mute=1')">
            ▶ Play
          </button>

        </div>
      </div>
    </div>

  </section>


  <section class="row st" id="1st-row">
    <h2>Movies</h2>
    <div class="cards" id="movie_Container"></div>
  </section>

  <section class="row">
    <h2>Anime</h2>

    <div class="cards">
      <button onclick="save(
        'Attack On Titan','assets/prev6.jpg','https://archive.org/embed/turner_video_132463?autoplay=1&mute=1','Set in a world where humanity hides behind towering walls to survive against man-eating giants, Attack on Titan follows Eren Yeager and the Survey Corps. What begins as a fight'
      )">
        <div class="card  item" data-name="Attack On Titan"><img src="assets/a1.jpg"></div>
      </button>

      <button onclick="save(
        'DEMON SLAYER','assets/prev7.jpg','https://archive.org/embed/demon-slayer-trailer-hindi-dub-jio-hotstar-1080p?autoplay=1&mute=1','Demon Slayer: Kimetsu no Yaiba follows Tanjiro Kamado, a kind-hearted teen who joins a secret corps of warriors to avenge his family’s murder. When his sister, Nezuko, is transformed into a demon, Tanjiro '
      )">
        <div class="card  item" data-name="DEMON SLAYER"><img src="assets/a2.jpg"></div>
      </button>

      <button onclick="save(
        'deathnote','assets/prev8.jpg','https://archive.org/embed/h-264_202311?autoplay=1&mute=1','Death Note is a psychological thriller about Light Yagami, a brilliant student who finds a supernatural notebook that kills anyone whose name is written in its pages'
      )">
        <div class="card  item" data-name="deathnote"><img src="assets/a3.jpg"></div>
      </button>

      <button onclick="save(
        'Jujutsu Kaisen','assets/prev9.jpg','https://archive.org/embed/9convert.com-gojo-alors-on-dance-edit-amv-x-sense-remake-1080p?autoplay=1&mute=1','Jujutsu Kaisen is a dark fantasy anime about Yuji Itadori, a high schooler who becomes the vessel for the powerful demon Ryomen Sukuna. To prevent global destruction, Yuji joins secret sorcerers to find and consume all twenty of Sukunas fingers. '
      )">
        <div class="card  item" data-name="Jujutsu Kaisen"><img src="assets/a4.jpg"></div>
      </button>

      <button onclick="save(
        'Naruto','assets/prev10.jpg','https://archive.org/embed/g4tv.com-video48136?autoplay=1&mute=1','Naruto Uzumaki is an energetic, optimistic orphan from the Hidden Leaf Village who dreams of becoming the Hokage—the villages strongest ninja and leader. '
      )">
        <div class="card  item" data-name="Naruto"><img src="assets/a5.jpg"></div>
      </button>


    </div>
  </section>

  <section class="row">
    <h2>Web Series</h2>

    <div class="cards">
      <button onclick="save(
        'Scam 1992','assets/prev11.avif','https://www.youtube.com/embed/C81nqlBD3wg?si=58U0hhHI9TX5CLSY','Scam 1992 is a financial web series chronicling the 1992 Indian stock market scandal. Broker Harshad Mehta exploited loopholes in the banking system to divert bank funds and artificially inflate stock prices. His eventual exposure triggered a massive market crash.'
      )">
        <div class="card  item" data-name="Scam"><img src="assets/w1.jpg"></div>
      </button>

      <button onclick="save(
        'Money Heist','assets/prev12.jpg','https://archive.org/embed/money-heist-part-4-official-trailer-netflix?autoplay=1&mute=1','Eight thieves lock themselves in the Royal Mint of Spain to pull off the biggest heist in history. Led by the Professor, they orchestrate an epic multi-day robbery while manipulating police forces across the globe.'
      )">
        <div class="card  item" data-name="Money Heist"><img src="assets/w3.jpg"></div>
      </button>

      <button onclick="save(
        'Squid Game','assets/prev13.jpg','https://archive.org/embed/youtube-FoLnLM23Qak?autoplay=1&mute=1','Hundreds of desperate cash-strapped contestants accept a strange invitation to compete in children games. They risk their lives for a massive financial prize in a thrilling deadly tournament filled with shocking twists and dark betrayal.'
      )">
        <div class="card  item" data-name="Squid Game"><img src="assets/w4.jpg"></div>
      </button>

      <button onclick="save(
        'The Witcher','assets/prev14.jpg','https://archive.org/embed/the-witcher-demons-bridge-fanfilm?autoplay=1&mute=1','The Witcher is a dark fantasy saga following Geralt of Rivia, a mutated monster hunter for hire. Navigating a morally corrupt world, he battles deadly beasts and dangerous politics to protect his loved ones.'
      )">
        <div class="card  item" data-name="The Witcher"><img src="assets/w5.jpg"></div>
      </button>

      <button onclick="save(
        'Lucifer','assets/prev15.jpg','https://www.youtube.com/embed/h4syfc-m7tA?si=7UW7avMy-zbyTzfH','Embittered by his heavenly banishment, the charming Lord of Hell abandons his throne to run a Los Angeles nightclub. He soon finds himself assisting a dedicated homicide detective in solving crimes and punishing local evildoers.'
      )">
        <div class="card  item" data-name="Lucifer"><img src="assets/w6.jpg"></div>
      </button>

      <button onclick="save(
        'money heist 2','assets/prev12.jpg','https://archive.org/embed/money-heist-2017-trailer?autoplay=1&mute=1','Money Heist wrapped up its main story in 2021, but the revolution continues. Explore the expanded universe on Netflix. The thrilling franchise follows masterminds executing impossible robberies while battling pol'
      )">
        <div class="card  item" data-name="money heist 2"><img src="assets/w2.jpg"></div>
      </button>



    </div>
  </section>

  <section class="row">
    <h2>Cartoons</h2>

    <div class="cards">
      <button onclick="save(
        'Minions','assets/prev16.jpg','https://archive.org/embed/youtube-P9-FCC6I7u0?autoplay=1&mute=1','These wildly popular, yellow, pill-shaped henchmen are famous for their chaotic personalities, gibberish language, and unwavering loyalty to Gru. Their hilarious antics, mischievous nature, and love for bananas make them incredibly fun and entertaining characters.'
      )">
        <div class="card  item" data-name="minions"><img src="assets/c1.jpg"></div>
      </button>

      <button onclick="save(
        'The Boss Baby','assets/prev17.jpg','https://archive.org/embed/youtube-EMgfQMnPtTg?autoplay=1&mute=1','The Boss Baby follows a suit-wearing, briefcase-toting infant who teams up with his older brother. Together, they embark on a hilarious secret mission to stop a devious plot by the CEO of Puppy Co.'
      )">
        <div class="card  item" data-name="the boss baby"><img src="assets/c2.jpg"></div>
      </button>

      <button onclick="save(
        'Big Hero','assets/prev18.jpg','https://www.youtube.com/embed/z3biFxZIJOQ?si=lAWF9A2AHVB3qV4k','Brilliant robotics prodigy Hiro Hamada forms an unbreakable bond with inflatable healthcare bot Baymax. Together with a group of clever friends, they transform into a high-tech superhero team to save their futuristic city from danger.'
      )">
        <div class="card  item" data-name="big hero"><img src="assets/c3.jpg"></div>
      </button>

      <button onclick="save(
        'Zootopia','assets/prev19.jpg','https://www.youtube.com/embed/Xry6B0I3pT8?si=UnfzJ3geJwLCjIch','Welcome to the bustling metropolis of Zootopia where any animal can achieve their dreams. Join an optimistic rookie bunny cop and a sly con-artist fox as they team up to solve a thrilling, city-wide mystery.'
      )">
        <div class="card  item" data-name="zootopia"><img src="assets/c4.jpg"></div>
      </button>

      <button onclick="save(
        'Kungfu Panda','assets/prev20.jpg','https://www.youtube.com/embed/Ni_tlxJuSis?si=PZBBUXybCbIJqZAf','Po, the clumsy panda, embraces his destiny as the Dragon Warrior. He must master martial arts to defend the Valley of Peace from formidable foes, discovering that true power comes from believing in his unique self.'
      )">
        <div class="card  item" data-name="kungfupanda"><img src="assets/c5.jpg"></div>
      </button>

    </div>
  </section>

  <section class="row">
    <h2>News</h2>

    <div class="cards">

      <div class="card  item" data-name="news"><img src="/assets/n1.jpg"></div>
      <div class="card  item" data-name="news"><img src="/assets/n2.jpg"></div>
      <div class="card  item" data-name="news"><img src="/assets/n3.jpg"></div>
      <div class="card  item" data-name="news"><img src="/assets/n4.jpg"></div>
      <div class="card  item" data-name="news"><img src="/assets/n5.jpg"></div>
    </div>
  </section>

  <script src="next.js"></script>
  <script src="prev.js"></script>
  <script src="movie_insert.js"></script>
  <script src="scrit.js"></script>
  <script> 
  //src -->vidplayer
    function play(link) {
      localStorage.setItem("movieLink", link);
      window.location.href = "vidPlayer.html"
    }
    //loader
    window.onload = function () {

      setTimeout(() => {

        document.getElementById("loader").classList.add("hide");

      }, 200);

    };
    //remove loggedIn value
    function logout() {
      localStorage.removeItem("loggedIn");
      window.location.href = "index.html";

    }
    const slides = document.querySelectorAll(".slide");

let index = 0;

function showSlide() {

  slides.forEach(slide => {
    slide.classList.remove("active");
  });

  slides[index].classList.add("active");

  index++;

  if (index >= slides.length) {
    index = 0;
  }
}

setInterval(showSlide, 4000);

function playMovie() {

  window.open("player.html", "_blank");

}



//search code
function searchContent() {
  let input = document.getElementById("searchinput").value.toLowerCase();
  let items = document.querySelectorAll(".item");
  let row = document.querySelectorAll(".row");
 
  
    items.forEach(function (item) {
      let text = item.getAttribute("data-name");
      if(text){
        let lowertext = text.toLowerCase();
      if (lowertext.includes(input)) {
        item.style.display = "block";
      }
      else {
        item.style.display = "none";
      }
      }
    });
}

//making it smoother
const x =document.getElementById("searchinput")
const y =document.getElementById("1st-row")

x.addEventListener("focus",()=>{
  y.scrollIntoView({
    behavior:"smooth",
    block:"start"
  });
});

  </script>

</body>

</html>